body {
    margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
  margin-right: 6vw;
}

.on-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 50px;
    margin: 45px 0;
  }
  .on-logo-header {
    margin: 0;
    width: 163px;
    height: auto;
  }
  .on-nav {
    width: 50px;
    height: 50px;
    background-color: red;
    margin-right: 6px;
  }
  .on-nav__burger {
    width: 30px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .on-nav__burger:after, .on-nav__burger:before, .on-nav__burger div {
    background-color: #fff;
    border-radius: 0;
    content: '';
    display: block;
    height: 3px;
    margin: 5px 0;
  }

  .on-cover {
    margin-left: -6vw;
    margin-right: -6vw;
  }

  .on-cover img {
      max-width: 100%;
      height: auto;
      margin: 0 0 60px ;
  }
  
  .on-presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  }

  .on-presentation__summary {
    display: none;
  }

  @media only screen and (min-width: 1204px) {
    .on-presentation__summary {
      display: block;
      padding-right: 475px;
    }
  }

  .on-presentation__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .on-list__item {
    color: #9b9b9b;
    font-family: 'Inter-Regular', Courier, monospace;
    font-size: 18px;
    line-height: 30px;
  }


  /* card component */

  .on-card {
    border-color: #d3d3d3ed;
    border-style: solid;
    border-width: 2vw 4vw 0;
    margin-top: 80px;
    padding-bottom: 1.5vw;
    max-width: 1366px;
    /* background-color: ;
    padding: 16px 24px 0; */
  }
  .on-card--img {
    max-width: 100%;
    height: auto;
  }


  .on-card--img__long {
    max-width: 100%;
    height: 2600px;
  }